# Python仮想環境
venv/
env/
.venv/
ENV/

.env_*

# Pythonキャッシュファイル
__pycache__/
*.py[cod]
*$py.class

# 依存関係管理
pip-log.txt
pip-delete-this-directory.txt
*.egg-info/
dist/
build/
*.egg

# テスト関連
.pytest_cache/
coverage.xml
*.coverage
htmlcov/
.tox/

# IDE/エディタ関連
.idea/  # PyCharm
.vscode/  # Visual Studio Code
*.sublime-workspace

# ログファイル
*.log

# データベース関連（必要に応じて）
*.db
*.sqlite3

# その他の一時ファイル
*.swp
*.bak
*.tmp

# 環境変数ファイル（機密情報を含む可能性があるため）
.env

*.txt